<a href="https://colab.research.google.com/github/Saswato/Basic-Data-Manipulation-with-PySpark/blob/main/PySpark_Hands_on.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1 - Basic manipulation

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=f7dda4109a993b9f6d05a6463f50eb422dd1f915bafb93c302dc9024ab87c6d9
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pd.read_csv('age.csv')

    Name  Age  Experience
0  Krish   31          10
1    Sud   30           8
2  Sunny   29           4

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.option('header','true').csv('age.csv')

In [ ]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
|  Sud| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Krish', Age='31', Experience='10'),
 Row(Name='Sud', Age='30', Experience='8'),
 Row(Name='Sunny', Age='29', Experience='4')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [ ]:
df_pyspark=spark.read.option('header','true').csv('age.csv',inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

### See columns

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Experience']

### Select 1 col

In [ ]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Krish|
|  Sud|
|Sunny|
+-----+

### Multi column select

In [ ]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Krish|        10|
|  Sud|         8|
|Sunny|         4|
+-----+----------+

### check dtypes

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

### Add columns

In [ ]:
df_pyspark = df_pyspark.withColumn('Exp after 2 years',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

+-----+---+----------+-----------------+
| Name|Age|Experience|Exp after 2 years|
+-----+---+----------+-----------------+
|Krish| 31|        10|               12|
|  Sud| 30|         8|               10|
|Sunny| 29|         4|                6|
+-----+---+----------+-----------------+

### Remove cols

In [ ]:
df_pyspark = df_pyspark.drop('Exp after 2 years')

In [ ]:
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
|  Sud| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

### Rename cols

In [ ]:
df_pyspark.withColumnRenamed('Name','Fname').show()

+-----+---+----------+
|Fname|Age|Experience|
+-----+---+----------+
|Krish| 31|        10|
|  Sud| 30|         8|
|Sunny| 29|         4|
+-----+---+----------+

# Section 2 - Null value manipulation

In [ ]:
df = spark.read.csv('test2.csv', header=True,inferSchema=True)

In [ ]:
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

### Drop null rows

In [ ]:
df.dropna().show() #drops all rows with null values

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### drop rows with all null values

In [ ]:
df.dropna(how='all').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

### Mentioning a threshold of values below which row is dropped

In [ ]:
df.dropna(how='any',thresh=2).show() # last row deletes

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

### drop row if null in a specific col

In [ ]:
df.dropna(how='any',subset=['Age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

### Imputer function

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer(inputCols=['age','Experience','Salary'], outputCols=['{}_imputed'.format(c) for c in ['age','Experience','Salary']]).setStrategy("mean")

In [ ]:
imputer.fit(df).transform(df).show() #adds new cols

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

### Filter functions

In [ ]:
df1 = df.dropna()

In [ ]:
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Find people with salary =< 20000

In [ ]:
df1.filter('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df1.filter('Salary<=20000').select('Name','Age').show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

### Filter with &(AND) | (OR) conditions

In [ ]:
df1.filter((df1['Salary']<=20000) &
           (df1['Salary']>=18000)).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Using NOT (~) condition

In [ ]:
df1.filter(~(df1['Salary']<=20000) &
           (df1['Salary']>=18000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

# Section 3 - Group by, Aggregate and Aggregate

In [ ]:
df2 = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [ ]:
df2.show( )

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Group by

Grouped on name to find salary

In [ ]:
df2.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

## Group on departmenets

In [ ]:
df2.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Aggregate

In [ ]:
df2.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

### Rank

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, rank

window_spec = Window.partitionBy('Departments').orderBy(col('Salary').desc())

# Add a new column 'rank' using the rank() window function
ranked_df = df2.withColumn('rank', rank().over(window_spec))

# Add a new column 'rank' using the rank() window function
ranked_df = df2.withColumn('rank', rank().over(window_spec))

# Show the result
ranked_df.show()

+---------+------------+------+----+
|     Name| Departments|salary|rank|
+---------+------------+------+----+
|Sudhanshu|    Big Data|  5000|   1|
|   Mahesh|    Big Data|  4000|   2|
|    Krish|    Big Data|  4000|   2|
|    Sunny|    Big Data|  2000|   4|
|Sudhanshu|Data Science| 20000|   1|
|    Krish|Data Science| 10000|   2|
|    Sunny|Data Science| 10000|   2|
|   Mahesh|Data Science|  3000|   4|
|Sudhanshu|         IOT| 10000|   1|
|    Krish|         IOT|  5000|   2|
+---------+------------+------+----+

In [ ]:
ranked_df.filter('rank=1').show()

+---------+------------+------+----+
|     Name| Departments|salary|rank|
+---------+------------+------+----+
|Sudhanshu|    Big Data|  5000|   1|
|Sudhanshu|Data Science| 20000|   1|
|Sudhanshu|         IOT| 10000|   1|
+---------+------------+------+----+

# Section 4 MLib

In [ ]:
training = df1

In [ ]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
training.columns

['Name', 'age', 'Experience', 'Salary']

### Creation of independent feature

here we take a group of features together using Vector Assembler to create independent feature.

ex.
[Age, Experience] ---> new feature ---> independent feature

In [ ]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(inputCols=['age','Experience'], outputCol='Independent Feature')

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.show() #new feature created

+---------+---+----------+------+-------------------+
|     Name|age|Experience|Salary|Independent Feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [ ]:
final_data = output.select('Independent Feature','Salary')

In [ ]:
final_data.show()

+-------------------+------+
|Independent Feature|Salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 20000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
+-------------------+------+

### Fit linear regressor

In [ ]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data = final_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol='Independent Feature',labelCol='Salary')
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([-2142.8571, 3571.4286])

In [ ]:
regressor.intercept

60714.28571427474

### predictions

In [ ]:
pred_results= regressor.evaluate(test_data)
pred_results.predictions.show()

+-------------------+------+------------------+
|Independent Feature|Salary|        prediction|
+-------------------+------+------------------+
|         [21.0,1.0]| 15000|19285.714285713722|
|         [23.0,2.0]| 18000|18571.428571428507|
|         [29.0,4.0]| 20000|12857.142857144834|
+-------------------+------+------------------+

### Results

In [ ]:
pred_results.meanAbsoluteError , pred_results.meanSquaredError

(3999.999999999132, 23238095.238084197)